Click==7.0
Flask==1.0.2
numpy==1.18.5
pandas==1.4.0
scikit-learn==1.0.2
itsdangerous==1.1.0
Jinja2==2.10.3
joblib
MarkupSafe==1.1.1
python-dateutil==2.8.1
pytz==2020.1
scipy==1.6.0
six==1.12.0
Werkzeug==0.16.0
pylint==2.4.4
pytest
